<%= form_for @user, class 'form-horizontal' do |f| %>
		
	<div class="field form-group">
		</div class="col-sm-6">
			<%= f.text_field :first_name, placeholder: "First Name"  %>
			</div>
		</div>

	<div class="field form-group">
		</div class="col-sm-6">
			<%= f.text_field :last_name, placeholder: "Last Name"  %>
			</div>
		</div>

	<div class="field form-group">
		</div class="col-sm-6">
			<%= f.text_field :email, placeholder: "Email"  %>
			</div>
		</div>

	<div class="field form-group">
		</div class="col-sm-6">
    	<%= f.text_area :bio, placeholder: "Bio" %>
   	 </div>
		</div>

	<div class="field form-group">
		</div class="col-sm-6">
			<%= f.password_field :password, placeholder: "Password"  %>
		</div>
	</div>

	<div class="field form-group">
		</div class="col-sm-6">
			<%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
		</div>
	</div>

		<%= f.submit 'Submit', class: "btn btn-default" %>

<% end %>

	