<% @experiences.each do |e| %>
	<h4><%= link_to e.name, experience_path(e.id) %> - <%= e.user.full_name %></h4>
	<p><%= e.description %> - <%= number_to_currency(e.price)%> </p>
	<p><%= e.start_time %> - <%= e.end_time %></p>
<% end %>