<h1>New Experience</h1>

<%= form_for(@experience) do |f| %>

	<%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_area :description, placeholder: "Experience Description" %>
	<%= f.number_field :price, placeholder: "Price" %>
	<%= f.datetime_select :start_time %>
	<%= f.datetime_select :end_time %>
	<%= f.submit 'Submit' %>

<% end %>