<h1><%= @experience.name %></h1>
<p><%= @experience.user.first_name %> <%= @experience.user.last_name %></p>
<p>Description: <%= @experience.description %></p>
<p>Price: <%= number_to_currency(@experience.price) %>


